@import './colors.scss';

.rs-row{
    // margin: 0px !important;
    // padding:0px !important;
    border-bottom: 1px solid black;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: hsl(0deg, 0%, 29%);
    cursor: pointer;

}
.rs-header{
    font-weight: 800;
    padding-bottom: 0px !important;
}
.rs-head-row{
    max-height: 2em;
}
.rs-body-row{
    padding:0px !important;
}

.rs-body{
    padding-top: 0px !important;
}

.rs-focus-row{
    background-color: #d7e0e2;
}
.rs-select-row{
    background-color: #a0c4cc;
}

.rs-table{
    background-color: #f0f0f0;
    width: 100%;
    max-height: 800px;
    overflow: scroll;
}


.rs-title{
    width:20%;
    min-width: 100px;
}
.rs-org{
    width:10%;
    min-width: 100px;
}
.rs-loc{
    width:10%;
    min-width: 100px;
}
.rs-salary{
    width:10%;
    min-width: 0px;
}
.rs-desc{
    width:30%;
    min-width: 100px;
}
.rs-time{
    width:10%;
    min-width: 100px;
}
.rs-link{
    width:10%;
    max-width: 50px;
}

.rs-salary-compact, .rs-time{
    display: none;
}

