@import './colors.scss';

.qt{
    border: 1px solid $tile-border-color;
    padding: 5px 1.25em;
    width: 190px;
}

.qt-text-primary{
    font-weight: 800;
    font-size: 1.12em;
    line-height: 1.12em;
}
.qt-text-secondary{
    font-size: .9em;
    line-height: .9em;
}

.qt-text-primary-compact{
    font-weight: 800;
    font-size: 1em;
    line-height: 1em;
}
.qt-text-secondary-compact{
    font-size: .5em;
    line-height: .5em;
}

.qt-hidden{
    display: none;
}



.qt-done{
    background-color: $inactive-blue;
}

.qt-active{
    background-color: $dark-pastel-green
}

.qt-pending{
    background-color: $inactive-grey;
}
