@import './colors.scss';

$rgb: 180;
$rgb2: 220;

.form-wrapper{
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    background: linear-gradient(to right, rgba($rgb,$rgb,$rgb,1) 0%, rgba($rgb2,$rgb2,$rgb2,1) 2%, rgba($rgb2,$rgb2,$rgb2,1) 98%, rgba($rgb,$rgb,$rgb,1) 100%);
}
.form-spacer{
    width:30%;
}
.no-flex-grow{
    flex-grow: 0;
}
.btn-width{
    width: 130px;
}