@import './colors.scss';

.no-pad {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.no-wrap{
    white-space: nowrap;
}


.editor-panel{
    height:calc(100vh - .8em);
}
.field-label{
    color: #939393;
    margin-bottom: 0px !important;
}
.field-input{
    height:auto;
}

.floating-control {
    position: absolute;
    right:5px;
    top:5px;
    z-index: 10;
    cursor: pointer;
}


.ep-textArea{
    height:calc(100% - 2em);
}



.fieldSize{
    width: calc(100% - 4em);
}

.indentField{
    margin-left: 3em;
}

.iconLabel{
    text-align: center;
}