$sage: #c3b997ff;
$dark-pastel-green: #18c941ff;
$light-green: #6dee8bff;
$opal: #9bc1bcff;
$independence: #585365ff;
$alabaster: #e6ebe0ff;
$latte: #FFFEF8;

$latteSearch: #F0EEE0;
$latteFav: #FFFEF8;

$inactive-grey: #EFEFEF;
$inactive-blue: #D5D5E1;
$tile-border-color: #a4b3b1;


$Black: #272324;
$DarkSeaGreen: #83b799;
$ArylideYellow: #e2cd6d;
$Sage: #c2b28f;
$CookiesCream: #e4d8b4;
$CarminePink: #e86f68;
$ClubBrown: #AB5852;
$JasperOrange: #D49C47;
$CamoGreen: #838469;
$SpaceGreen: #4A6369;