@import '../node_modules/bulma/bulma.sass';
@import './colors.scss';



html,
body {
    // padding: 0;
    // margin: 0;

    letter-spacing: -1px;
    word-spacing: -1px;
    background-color: $latte;
}

.breakFix{
    @include clearfix;
}


.primary-font {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bolder;
    font-size: 3rem;
}

.alt-font {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}
.alt-font2 {
    font-family: Roboto, sans-serif;
}

.is-static{
    border:0px;
}