@import '../node_modules/bulma/bulma.sass';
@import './colors.scss';


$font-reader: le-monde-livre-classic-byol,serif;
$font-primary: Verdana, Geneva, sans-serif;
$font-secondary: Roboto, sans-serif;

html,
body {
    letter-spacing: -.8px;
    // word-spacing: -1px;
    background-color: $latte;

    font-family: $font-secondary;
}

.breakFix{
    @include clearfix;
}


.primary-font {
    font-family: $font-primary;
    font-weight: 800;
    font-size: 3rem;
}
